extends layout.jade

block content
    center(class="top-intro")
        div(class="panel panel-default")
            div(class="panel-body")
                | Hello ITT-Tech Student, please select the form you're interested in.
    div(class="buttons-centered")
        div(class="row")
            div(class="col-md-4 col-md-offset-4")
                button(type="button", class="btn btn-default btn-lg mybtn", data-toggle="modal", data-target="#myModal01") 
                    | Academic Affairs
        div(class="row")
            div(class="col-md-4 col-md-offset-4")
                button(type="button" class="btn btn-default btn-lg mybtn", data-toggle="modal", data-target="#myModal02")
                    | Technical Support

    // Modal Academic Affairs
    div(class="modal fade", id="myModal01", tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
        div(class="modal-dialog modal-lg", role="document")
            div(class="modal-content")
                div(class="modal-header")
                    button(type="button", class="close", data-dismiss="modal", aria-label="Close") 
                        span(aria-hidden="true") &times;
                    h4(class="modal-title", id="myModalLabel") Academic Affairs Form
                div(class="modal-body")
                    form(data-togle="validator", role="form", method="post", action="/")
                        // date-picker
                        div(class="row")
                            div(class="col-md-3 col-xs-12 col-md-offset-9")
                                label(for="dpicker") Select the Date:
                                br
                                input(type="date", name="pickDate", class="form-control", required="required")

                        //- Students Name Box
                        div(class="row")
                            div(class="col-md-4 col-xs-12")
                                div(class="form-group")
                                    label(for="sname") Student Full Name:
                                    br
                                    input(type="text", class="form-control sname", id="student-name", 
                                        name="stdName",
                                        placeholder="John Doe", 
                                        maxlength="30", 
                                        pattern="^[A-Za-z ]*$",
                                        required="required") 
                                    span(class="error-message")

                            //- Students School ID Box
                            div(class="col-md-4 col-xs-12")
                                div(class="form-group")
                                    label(for="sid") Student ID: 
                                    br
                                    input(type="text", class="form-control sid", id="student-id",
                                        name="stdId",
                                        maxlength="8", 
                                        placeholder="Enter 8-Digits Student ID", 
                                        pattern="^[0-9]{8}$", 
                                        required="required")
                                    span(class="error-message")

                            //- Students Email
                            //- ^[a-z0-9](\.?[a-z0-9])+@email\.itt-tech\.edu$ for an ITT email
                            div(class="col-md-4 col-xs-12")
                                div(class="form-group")
                                    label(for="semail") Student Email:
                                    br
                                    div(class="input-group")
                                        input(type="text", class="form-control semail", id="student-email",
                                        name="stdEmail",
                                        placeholder="Email", 
                                        aria-describedby="basic-addon2",  
                                        pattern="^[A-Za-z0-9_]*[A-Za-z0-9][A-Za-z0-9_]*$",
                                        required="required")
                                        div(class="input-group-addon") @email.itt-tech.edu
                                    span(class="error-message")

                        //- Student Contact Number
                        div(class="row")
                            div(class="col-md-4 col-xs-12")
                                div(class="form-group")
                                    label(for="sphone") Contact Phone Number:
                                    br
                                    input(type="tel", class="form-control sphone", id="student-phone",
                                        name="stdPhone",
                                        maxlength="10", 
                                        placeholder="6195554444", 
                                        pattern="^[0-9]{10}$", 
                                        required="required")
                                    span(class="error-message")

                            //- Students Degree
                            div(class="col-md-4 col-xs-12")
                                div(class="form-group")
                                    label(for="sdegree") Student Degree:
                                    br
                                    select(class="form-control sdegree", id="student-degree",
                                            name="stdDegree", 
                                            required="required")
                                        option(value="") Please Select One
                                        option(value="Associates") Associates
                                        option(value="Bachelor's") Bachelor's

                            //- Students Program
                            div(class="col-md-4 col-xs-12")
                                div(class="form-group")
                                    label(for="sprogram") Program:
                                    br
                                    select(class="form-control sprogram", id="student-program", 
                                            name="stdProgram", 
                                            required="required")
                                        option(value="") Please Select One
                                        option(value="Electrical Engineering and Communications Technology") Electronics
                                        option(value="Electrical Engineering Technology") Electrical Engineering Technology
                                        option(value="Software-Development") Software Development
                                        option(value="Network Systems Administration") NSA
                                        option(value="Information System and Cybersecurity") ISC
                                        option(value="Project Managment") Project Managment
                                        option(value="Accounting") Accounting
                                        option(value="Business Managment") Business Managment
                                        option(value="Drafting and Design Technology") Drafting and Design Technology
                                        option(value="Industrial Engineering Technology") Industrial Engineering Technology

                        //- Students Current Quarter
                        div(class="row")
                            div(class="col-md-4 col-xs-12")
                                div(class="form-group")
                                    label(for="squarter") Current Quarter:
                                    br
                                    input(type="text", class="form-control squarter", id="squarter", 
                                        name="stdQuarter",
                                        maxlength="2",
                                        placeholder="Enter Number of Current Quarter",
                                        pattern="^[0-9]{1,30}*$",
                                        required="required")
                                    span(class="error-message")

                            //- Student Requested Chair
                            div(class="col-md-4 col-xs-12")
                                div(class="form-group")
                                    label(for="scourse") Request Service From:
                                    br
                                    select(class="form-control", id="scourse", 
                                            name="stdChairs", 
                                            required="required")
                                        option(value="") Select One
                                        option(value="Chair of Information Technology") Chair of Information Technology
                                        option(value="Chair of Business") Chair of Business
                                        option(value="Associate Dean") Associate Dean
                                        option(value="Associate Dean, General Studies") Associate Dean, General Studies
                                        option(value="Chair of Drafting and Design") Chair of Drafting and Design
                                        option(value="Chair of Electronics Technology") Chair of Electronics Technology
                                        option(value="School Director") School Director

                            //- Student Class Requests
                            div(class="col-md-4 col-xs-12")
                                div(class="form-group")
                                    label(for="sclass") Type of Request:
                                    br
                                    select(class="form-control", id="srequest", 
                                            name="stdTypeRequest", 
                                            required="required")
                                        option(value="") Select One
                                        option(value="Change Class") Change Class
                                        option(value="Drop Class") Drop Class
                                        option(value="Request Class") Request Class
                                        option(value="Request Theory Room") Request Theory Room
                                        option(value="Change Degree") Change Degree
                                        option(value="Request Tutoring") Request Tutoring
                                        option(value="Other") Other

                        //- Students Comment Box
                        div(class="row")
                            div(class="col-md-12")
                                div(class="form-group")
                                    label(for="comment") Detailed Information About Request :
                                    br
                                    textarea(class="form-control comment", rows="5", id="student-comment",
                                        name="stdComment", 
                                        maxlength="300",
                                        pattern="^.{5,300}" ,
                                        required="required")
                                    span(class="comments-prompt") No more than 300 Characters
                        div(class="modal-footer")
                            button(type="button", class="btn btn-danger", data-dismiss="modal") Close
                            button(type="submit", id="myButton", name="submit", class="btn btn-primary submitButton") Submit

    // End Academic Affairs Modal

    // Technical Support Modal
    div(class="modal fade", id="myModal02", tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
        div(class="modal-dialog modal-lg" role="document")
            div(class="modal-content")
                div(class="modal-header")
                    button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4(class="modal-title", id="myModalLabel") Technical Support Form
                div(class="modal-body")
                    form(data-togle="validator", role="form", method="post", action="/second-modal")
                        //- Date Picker
                        div(class="row")
                            div(class="col-md-3 col-xs-12 col-md-offset-9")
                                label(for="dpicker") Select the Date:
                                br
                                input(type="date", class="form-control", name="pickDate", required="required")

                        //- Students Name Box
                        div(class="row")
                            div(class="col-md-4 col-xs-12")
                                div(class="form-group")
                                    label(for="sname") Student Full Name:
                                    br
                                    input(type="text", class="form-control sname", id="student-name",
                                        name="stdName",
                                        placeholder="John Doe", 
                                        maxlength="30", 
                                        pattern="^[A-Za-z ]*$",
                                        required="required")
                                    span(class="error-message")

                            //- Students School ID Box    
                            div(class="col-md-4 col-xs-12")
                                div(class="form-group")
                                    label(for="sid") Student ID:
                                    br
                                    input(type="text", class="form-control sid", id="student-id", 
                                        name="stdId",
                                        maxlength="8", 
                                        placeholder="Enter 8-Digits Student ID",
                                        pattern="^[0-9]{8}$",
                                        required="required")
                                    span(class="error-message")

                            //- Students Email
                            //- ^[a-z0-9](\.?[a-z0-9])+@email\.itt-tech\.edu$ for an ITT email
                            div(class="col-md-4 col-xs-12")
                                div(class="form-group")
                                    label(for="semail") Student Email:
                                    br
                                    div(class="input-group")
                                        input(type="text", id="student-email", class="form-control semail",
                                        name="stdEmail", 
                                        placeholder="Email",
                                        aria-describedby="basic-addon2",
                                        pattern="^[A-Za-z0-9_]*[A-Za-z0-9][A-Za-z0-9_]*$",
                                        required="required")
                                        div(class="input-group-addon") @email.itt-tech.edu
                                    span(class="error-message")

                        //- Student Contact Number
                        div(class="row")
                            div(class="col-md-4 col-xs-12")
                                div(class="form-group")
                                    label(for="sphone") Contact Phone Number:
                                    br
                                    input(type="tel", class="form-control sphone", id="student-phone",
                                        name="stdPhone", 
                                        maxlength="10",
                                        placeholder="6195554444",
                                        pattern="^[0-9]{10}$",
                                        required="required")
                                    span(class="error-message")

                            //- Students Degree
                            div(class="col-md-4 col-xs-12")
                                div(class="form-group")
                                    label(for="sdegree") Student Degree:
                                    br
                                    select(class="form-control sdegree", id="student-degree", 
                                            name="stdDegree", 
                                            required="required")
                                        option(value="") Please Select One
                                        option(value="Associates") Associates
                                        option(value="Bachelors") Bachelor's

                            //- Students Program
                            div(class="col-md-4 col-xs-12")
                                div(class="form-group")
                                    label(for="sprogram") Program:
                                    br
                                    select(class="form-control sprogram", id="student-program", 
                                            name="stdProgram", 
                                            required="required")
                                        option(value="") Please Select One
                                        option(value="Electrical Engineering and Communications Technology") Electronics
                                        option(value="Electrical Engineering Technology") Electrical Engineering Technology
                                        option(value="Software-Development") Software Development
                                        option(value="Network Systems Administration") NSA
                                        option(value="Information System and Cybersecurity") ISC
                                        option(value="Project Managment") Project Managment
                                        option(value="Accounting") Accounting
                                        option(value="Business Managment") Business Managment
                                        option(value="Drafting and Design Technology") Drafting and Design Technology
                                        option(value="Industrial Engineering Technology") Industrial Engineering Technology

                        //- Check Box section
                        div(class="row")
                            //- office 365
                            div(class="col-md-4 col-xs-12")
                                div(class="form-group")
                                    label(for="sclass", id="std-office", name="stdOffice") Office 365 (Check all that apply):
                                    br
                                    label 
                                        input(type="checkbox", name="office365", value="Downloading")
                                        | &nbsp;Downloading
                                    br
                                    label 
                                        input(type="checkbox", name="office365", value="Installing")
                                        | &nbsp;Installing
                                    br
                                    label 
                                        input(type="checkbox", name="office365", value="Opening")
                                        | &nbsp;Opening
                                    br
                                    label 
                                        input(type="checkbox", name="office365", value="Not Valid User Name")
                                        | &nbsp;Not Valid User Name
                                    br
                                    label 
                                        input(type="checkbox", name="office365", value="Blocked")
                                        | &nbsp;Blocked
                                    br
                                    label 
                                        input(type="checkbox", name="office365", value="Software Issues")
                                        | &nbsp;Software Issues
                                    br
                                    label 
                                        input(type="checkbox", name="office365", value="No License")
                                        | &nbsp;No License
                                    br

                            //- FWS Request
                            div(class="col-md-4 col-xs-12")
                                div(class="form-group")
                                        label(for="sclass", id="tech-request") Technical Request (Check all that apply):
                                        br
                                        label 
                                            input(type="checkbox", name="technicalRequest", value="Wipe & Swipe")
                                            | &nbsp;Wipe & Swipe
                                        br
                                        label 
                                            input(type="checkbox", name="technicalRequest", value="Virus")
                                            | &nbsp;Virus
                                        br
                                        label 
                                            input(type="checkbox", name="technicalRequest", value="Pop-ups")
                                            | &nbsp;Pop-ups
                                        br
                                        label 
                                            input(type="checkbox", name="technicalRequest", value="Browser Issues")
                                            | &nbsp;Browser Issues
                                        br
                                        label 
                                            input(type="checkbox", name="technicalRequest", value="Running Slow")
                                            | &nbsp;Running Slow
                                        br
                                        label 
                                            input(type="checkbox", name="technicalRequest", value="Downlading Software")
                                            | &nbsp;Downlading Software
                                        br
                                        label 
                                            input(type="checkbox", name="technicalRequest", value="Dream Spark Issues")
                                            | &nbsp;Dream Spark Issues
                                        br
                                        label 
                                            input(type="checkbox", name="technicalRequest", value="Vm Ware Issues")
                                            | &nbsp;VM Ware Issues
                                        br

                            //- FWS Request
                            div(class="col-md-4 col-xs-12")
                                div(class="form-group")
                                    label(for="sclass", id="lrc-request") General Request (Check all that apply):
                                    br
                                    label 
                                        input(type="checkbox", name="lrcRequest", value="Student Email Issues")
                                        | &nbsp;Student Email Issues
                                    br
                                    label 
                                        input(type="checkbox", name="lrcRequest", value="Student E-Books")
                                        | &nbsp;Student E-Books
                                    br
                                    label 
                                        input(type="checkbox", name="lrcRequest", value="Student Networking Issues")
                                        | &nbsp;Student Networking Issues
                                    br
                                    label 
                                        input(type="checkbox", name="lrcRequest", value="Student Wireless Issues")
                                        | &nbsp;Student Wireless Issues
                                    br
                                    label 
                                        input(type="checkbox", name="lrcRequest", value="Student Portal")
                                        | &nbsp;Student Portal
                                    br
                                    label 
                                        input(type="checkbox", name="lrcRequest", value="Student Password Reset")
                                        | &nbsp;Student Password Reset
                                    br
                                    label 
                                        input(type="checkbox", name="lrcRequest", value="Student Virtual Libary")
                                        | &nbsp;Student Virtual Libary
                                    br
                                    label 
                                        input(type="checkbox", name="lrcRequest", value="Student E-Portfolio")
                                        | &nbsp;Student E-Portfolio
                                    br
                        div(class="row")
                            div(class="col-md-4 col-xs-12")
                                div(class="form-group")
                                    label(for="sServiceTag") Please Enter Service Tag:
                                    br
                                    input(type="text", class="form-control sServTag", id="student-service-tag", 
                                        name="stdServiceTag",
                                        maxlength="8",
                                        data-toggle="tooltip",
                                        title="Service Tag Located Underneath Laptop",
                                        data-placement="bottom",
                                        placeholder="Enter Service Tag",
                                        pattern="^[0-9]{8}$")
                                    span(class="error-message")
                                    
                                    


                        //- Students Comment Box
                        div(class="row")
                            div(class="col-md-12")
                                div(class="form-group")
                                    label(for="comment") Detailed Information About Request:
                                    br
                                    textarea(class="form-control comment", rows="5", id="student-comment", 
                                    name="stdComment",
                                    maxlength="300",
                                    pattern="^.{5,300}" ,
                                    required="required")
                                    span(class="comments-prompt") No more than 300 Characters
                        div(class="modal-footer")
                            button(type="button", class="btn btn-danger", data-dismiss="modal") Close
                            button(type="submit", id="myButton", name="submit", class="btn btn-primary submitButton") Submit
    // end of Modal 