extends ../layout.jade

block content
	div(class="container")
		div(class="jumbotron")
			h1 Review Your Technical Support Form
			p If Everything is Correct, Please Print Your Page and Close the Program

		// Modal Academic Affairs
		form(data-togle="validator", role="form", method="post", action="/reviewAccform")

			//- date-picker
			div(class="row")
				//- service tag
				div(class="col-sm-3 col-xs-6")
					label(class="black-font") Service Tag:
					brl
					if studentDataModal_two.std_service_tag == null
						div(class="well ligth-black-font service-tag-text") No Service Tag Provided
					else
						div(class="well ligth-black-font service-tag-text")=studentDataModal_two.std_service_tag
				div(class="col-sm-2 col-sm-offset-7 col-xs-6")
					label(class="black-font") Date:
					br
					div(class="well ligth-black-font")=studentDataModal_two.date.toDateString()

			//- Students Name Box
			div(class="row")
				div(class="col-md-4 col-xs-12")
					label(class="black-font") Student Full Name:
					br
					div(class="well ligth-black-font")=studentDataModal_two.std_name

				//- Students School ID Box
				div(class="col-md-4 col-xs-6")
					label(class="black-font") Student ID: 
					br
					div(class="well ligth-black-font")=studentDataModal_two.std_ID

				//- Students Email
				div(class="col-md-4 col-xs-6")
					label(class="black-font") Student Email:
					br
					div(class="well ligth-black-font")=studentDataModal_two.std_Email 
						| @email.itt-tech.edu

			//- Student Contact Number
			div(class="row")
				div(class="col-md-4 col-xs-12")
					label(class="black-font") Contact Phone Number:
					brl
					div(class="well ligth-black-font")=studentDataModal_two.std_phone

				//- Students Degree
				div(class="col-md-4 col-xs-6")
					label(class="black-font") Student Degree:
					br
					div(class="well ligth-black-font")=studentDataModal_two.std_degree

				//- Students Program
				div(class="col-md-4 col-xs-6")
					label(class="black-font") Program:
					br
					div(class="well ligth-black-font")=studentDataModal_two.std_program

			//- Student Contact Number
			div(class="row")
				//- Office 365 CheckBox
				div(class="col-md-4 col-xs-12")
					label(class="black-font") Office 365 Issues:
					brl
					if studentDataModal_two.office_365 == null
						div(class="well ligth-black-font") No Office365 Issue Selected
					else
						div(class="well ligth-black-font")=studentDataModal_two.office_365

				//- Technical Request CheckBox
				div(class="col-md-4 col-xs-6")
					label(class="black-font") Technical Issues:
					brl
					if studentDataModal_two.tech_request == null
						div(class="well ligth-black-font") No Technical Issue Selected
					else
						div(class="well ligth-black-font")=studentDataModal_two.tech_request
				
				//- LRC Request CheckBox
				div(class="col-md-4 col-xs-6")
					label(class="black-font") General Issues:
					brl
					if studentDataModal_two.lrc_request == null
						div(class="well ligth-black-font") No LRC Issue Selected
					else
						div(class="well ligth-black-font")=studentDataModal_two.lrc_request

			//- Students Comment Box
			div(class="row")
				div(class="col-md-12 col-xs-12")
					label(class="black-font") Detailed Information About Request:
					br
					div(class="well ligth-black-font")=studentDataModal_two.comments
			footer
				div(class="row margin-bottom buttonTo-right")
					div(class="col-md-4")
						p #[a(class="btn btn-primary btn", id="back-edit" href="/", role="button") Back to Edit]
					div(class="col-md-3 col-md-offset-1 col-sm-12")
						p #[a(class="btn btn-danger btn pull-center", href="/", role="button") Finish Program]
					div(class="col-md-4 col-sm-12")
						p #[a(class="btn btn-info pull-right", id="print", role="button") Print Page] 